.meter {
    height: 20px;  /* Can be anything */
    position: relative;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.navbar-brand{
    margin-left: 1px;
}

.meter > span {
    display: block;
    height: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43,194,83);
    background-image: linear-gradient(
            90deg,
            rgb(43,194,83) 37%,
            rgb(84,240,84) 69%
    );
    box-shadow:
            inset 0 2px 9px  rgba(255,255,255,0.3),
            inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}


.sources > sup{
    white-space: nowrap;
}

.teaser{
    border: 1px solid grey;
    border-radius: 10px;
    margin: 15px 0;
    padding: 20px;
}


blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: "\"";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}


#dummy_search_field {
    width: 100%;
    padding: 4px;
    font-size: 110%;
    border-radius: 20px;
    color: blue;
}