{{ partial "header.html" . }}
<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{.Title}}
        <small></small>
    </h1>

    {{ partial "breadcrumb.html" .}}
    <!-- Features Section -->
    {{ partial "impressum-contact.html" . }}

    {{ .Content }}

    <h3>Quellen und Inspirationen</h3>
    <h4>Layout</h4>
    <ul>
        <li><a class="" href="https://github.com/BlackrockDigital/startbootstrap-modern-business">Modern Business</a> von BlackRockDigital</li>
    </ul>
    <h4>Bildquellen</h4>
    <ul>
        <li>Titel: <a href="https://www.shutterstock.com/g/REDPIXELPL">REDPIXEL.PL/Shutterstock.com</a></li>
        <li>"CloudComputing": <a href="https://www.shutterstock.com/g/Panteleev+Aleksey">Funtab/Shutterstock.com</a></li>
        <li>"Full-Service": <a href="https://www.shutterstock.com/de/g/gguy">gguy/Shutterstock.com</a> </li>
        <li>"Wind power": <a href="https://www.pexels.com/@jemsanchez">Jem Sanchez</a></li>
        <li>"Remote-Work": <a href="https://www.pexels.com/@ken-tomita-127057">Ken Tomita</a> </li>
    </ul>
    <div class="small text-right">v1.0</div>
</div>

{{ partial "footer.html" . }}
{{ partial "email-address.html" . }}