<!DOCTYPE html>

<head>
    <title>{{.Page.Title}} {{if gt (len .Site.Title) 0}} | {{end}} {{.Site.Title}}</title>
    <meta name="description" content="{{.Page.Description}}" >
    <meta name="author" content="{{.Site.Params.name}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
<!--    <link rel="manifest" href="/site.webmanifest">-->

    <!-- auto typing-->
    <script src="/js/plugins.js"></script>

    {{ partial "head-dependencies.html" . }}


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/" >{{ .Site.Params.nameWithTitle }}</a>
        <small style="color: forestgreen" id="my-role"></small>
        <script>
                startTyping("my-role",{{ .Site.Data.rolenames }})
        </script>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{ partial "menu.html" . }}
    </div>
</nav>



