<!DOCTYPE html>

<head>
    <title>{{.Page.Title}} {{if gt (len .Site.Title) 0}} | {{end}} {{.Site.Title}}</title>
    <meta name="description" content="{{.Page.Description}}">
    <meta name="author" content="{{.Site.Params.name}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    {{/*    Icons   */}}
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">
    {{ $iconRaw := resources.Get "/dhLogo.png" }}
    {{ $icon32 := $iconRaw.Resize "x32"}}
    {{ $icon16 := $iconRaw.Resize "x16"}}
    {{ $iconAppleTouch := $iconRaw.Resize "x180"}}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $iconAppleTouch.Permalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $icon32.Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $icon16.Permalink }}">
    {{/*    End of Icons    */}}

    {{ $mainJs := resources.Get "/js/plugins.js" | minify | fingerprint }}
    {{ $myCss := resources.Get "/css/custom.css" | minify | fingerprint }}
    {{ $modernBusiness := resources.Get "/css/modern-business.css" | minify | fingerprint }}
    <script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}"></script>
    <link href="{{ $myCss.Permalink }}" integrity="{{ $myCss.Data.Integrity }}" rel="stylesheet">
    <link href="{{ $modernBusiness.Permalink }}" integrity="{{ $modernBusiness.Data.Integrity }}" rel="stylesheet">
    {{ partial "head-dependencies.html" . }}


</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <div id="logo-wrapper">
            {{ $logo := $iconRaw.Resize "x55"}}
            <img src="{{ $logo.Permalink }}" alt="Logo"/>
            <a class="navbar-brand" href="/">{{ .Site.Params.nameWithTitle }}</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {{ partial "menu.html" . }}
    </div>
</nav>



