{{ partial "home-image.html" . }}
<div class="container">
    <div class="row mb-4 mt-4">
        {{ partial "question-searchinput.html" . }}
    </div>
    <hr>
    <h1 class="my-4">{{ .Params.headline }}</h1>
    <!-- Features Section -->
    <div class="row mb-4">
        <div class="col-lg-6 col-lg-push-6 mb-4">
            {{- $image := resources.Get "images/sw-lifecycle.png" -}}
            {{ $image = $image.Resize "600x400" }}
            <img class="img-fluid rounded" src="{{ $image.Permalink }}" alt="Vollständiger Software-Lebenszyklus">
        </div>
        <div class="col-lg-6">
            {{ partial "home-services.html" . }}
        </div>
    </div>
    <!-- /.row -->

    <div class="row mb-4">
        {{ .Content }}
    </div>


    <div class="row mb-4">
        {{ partial "testimonials.html" . }}
    </div>
    <hr>
    <div class="row mb-4">
        {{ partial "top-technologies.html" . }}
    </div>

    <hr>


</div>
