{{ partial "home-image.html" . }}
<div class="container">
    <h1 class="my-4">{{ .Params.headline }}</h1>
    <h2>{{ .Params.subHeadline }}</h2>
    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            {{ .Content }}
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded" src="/images/cloudcomputing.jpg" alt="Cloud Computing">
        </div>
    </div>
    <!-- /.row -->

    <!-- Marketing Icons Section -->
    <h3>Auszug aus der Werkzeugkiste</h3>
    <p>Hier finden Sie einen Auszug aus der umfangreichen Liste der Tools, die aktuell von mir bevorzugt werden.</p>
    <p>Weitere Technologien sind auf Unterseiten aufgezählt, eine Gesamtübersicht nach Tags sortiert finden Sie <a href="/tags.html">hier</a>.</p>
    <div class="row">
        {{ range first 12 (sort .Site.Data.technologies "rating" "desc") }}
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">{{ .name }}</h4>
                {{ if .Site.Params.technologiesWithText }}
                <div class="card-body">
                    <p class="card-text">{{.text}}</p>
                </div>
                {{ end }}
                <div class="card-footer">
                    <div class="meter">
                        <span style="width: {{.rating}}%"></span>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <!-- /.row -->



    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
        <div class="col-md-8">
            <p>Bei Interesse an einer Zusammenarbeit erreichen Sie mich am einfachsten per Mail. Ich freue mich auf Ihre Anfragen.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-secondary btn-block" href="impressum.html">Get in touch</a>
        </div>
    </div>

</div>