<div class="row">
    <div class="col-lg-8">
        <h3>{{ .Page.Params.adelsTitel}}</h3>
        <!-- Contact Details Column -->
        <p>
            <span>{{ .Site.Params.nameWithTitle}}</span>
            <br/><span>{{ .Site.Params.address1}}</span>
            <br/><span>{{ .Site.Params.address2}}</span>
            <br/>
        </p>
        <p>
            <abbr title="Telefonnummer">T</abbr>: <span>{{ .Site.Params.phone}}</span>
        </p>
        <p>
            <abbr title="Email-Adresse">E</abbr>:
            <span class="mskmail">info (klammeraff) danielhons.de</span>
        </p>
        <p>
            <abbr title="Umsatzsteuer-Identifikationsnummer">S</abbr> <span>{{ .Site.Params.taxNumber}}</span>
        </p>
    </div>
    <div class="col-lg-4">
        <img class="img-fluid rounded" src="/images/paragraph.jpg" alt="">
    </div>
</div>