<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">{{.Title}}</h1>
    {{ partial "breadcrumb.html" . }}

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->
            <img class="img-fluid rounded" src="/images/{{ .Params.image }}" alt="Title Image">

            <hr>

            <!-- Date/Time -->
            <p>{{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>

            <hr>

            <!-- Post Content -->
          {{ .Content }}
            <hr>

          {{ partial "blogcomments.html"}}

        </div>

        <!-- Sidebar Widgets Column -->
        <li class="col-md-4">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                    </div>
                </div>
            </div>




            <!-- Categories Widget -->
            <div class="card my-4">
                {{ $taxo := "categories" }} <!-- Use the plural form here -->
                {{ with .Param $taxo }}
                <h5 class="card-header">Kategorie{{ if gt (len .) 1 }}n{{ end }}:</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {{ range $index, $category := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $category) -}}
                                <li><a href="{{ .Permalink }}">{{ $category }}</a></li>
                                {{- end -}}
                                {{- end -}}

                            </ul>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>


            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->
</div>
