<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    {{ partial "pagetitle.html" . }}
    {{ partial "breadcrumb.html" . }}

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Preview Image -->
            {{ partial "posttitleimage.html" . }}
            <hr>

            <!-- Date/Time -->
            <p>{{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>

            <hr>

            <!-- Post Content -->
          {{ .Content }}
            <hr>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Categories Widget -->
            <div class="card my-4">
                {{ $taxo := "categories" }} <!-- Use the plural form here -->
                {{ with .Param $taxo }}
                <h5 class="card-header">Kategorie{{ if gt (len .) 1 }}n{{ end }}:</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0">
                                {{ range $index, $category := . }}
                                {{ with $.Site.GetPage (printf "/%s/%s" $taxo $category) -}}
                                <li><a href="{{ .RelPermalink }}">{{ $category }}</a></li>
                                {{- end -}}
                                {{- end -}}

                            </ul>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>



        </div>

    </div>
    <!-- /.row -->
</div>
