{{ partial "header.html" . }}

<div class="container">


    {{ partial "pagetitle.html" . }}
   {{ partial "breadcrumb.html" . }}

    {{ .Content }}

    <!-- Blog Post -->
    {{ range .Paginator.Pages }}
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <a href="#">
                        <img class="img-fluid rounded" src="/images/{{ .Params.image}}" alt="">
                    </a>
                </div>
                <div class="col-lg-6">
                    <h2 class="card-title">{{ .Title }}</h2>
                    <p class="card-text">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More &rarr;</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            <span class="posted-on">
                <time class="entry-date published" datetime="{{ .Date.Format .Site.Params.DateForm }}">
                    {{ .Date.Day }}. {{ index site.Data.months_german (printf "%d" .Date.Month) }} {{ .Date.Year }}
                </time>
            </span>
            <a href="#">{{ .Site.Params.name }}</a>
        </div>
    </div>
    {{ end }}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <ul class="pagination">
            {{ template "_internal/pagination.html" . }}
        </ul>
    </ul>

</div>

</div>

{{ partial "footer.html" . }}