{{ partial "header.html" . }}

<div class="container">


    <h1 class="mt-4 mb-3">Projekte mit {{ .Title}}

    </h1>
    {{ partial "breadcrumb.html" . }}

    {{ .Content }}

    {{ $pages := .Pages }}
    {{ $sorted := ($pages.ByParam "begin").Reverse }}
    {{ $paginator := .Paginate $sorted }}
    {{ range .Paginator.Pages }}
    {{ partial "projectcard" . }}


    {{ end }}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <ul class="pagination">
            {{ template "_internal/pagination.html" . }}
        </ul>
    </ul>

</div>

</div>

{{ partial "footer.html" . }}
